@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karma:wght@600&display=swap');


a:link { text-decoration: none; color: white; }
a:visited { text-decoration: none; color: white; }
a:hover { text-decoration: none; color: white; }
a:active { text-decoration: none; color: white; }

*{
    font-family: 'montserrat';
    font-weight: 500;
}

header {
    background: linear-gradient(to right, #F68F27, #34843A);
}

.tml {
    padding-left: 4%;
    padding-bottom: 25px;
    color: white;
    margin-left: 20px;
    margin-top: 25px;
    display:inline-block;
    font-size: 18px;
  }

.tml:hover {
    color: #34843A;
    transition: 1s all ease;
}

.lead {
    padding-left: 4%;
    color: white;
    margin-left: 20px;
    margin-top: 25px;
    display:inline-block;
    font-size: 18px;
}

.lead:hover {
    color: #34843A;
    transition: 1s all ease;
}

.abut {
    padding-left: 27%;
    color: white;
    margin-left: 20px;
    margin-top: 25px;
    font-size: 18px;
}

.abut:hover {
    color: #34843A;
    transition: 1s all ease;
}
